node_modules
dist
dist-ssr
*.local
*.tsbuildinfo

package-lock.json
yarn.lock

src-tauri/target/

.env
.env.*
!.env.example

.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

campaigns/active/*
!campaigns/active/.gitkeep

*.db
*.sqlite
*.log
app.log

src-tauri/target/
